<div class="form-group mr-1">
  <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="term">
  <button (click)="searchByName()">Search</button>
</div>
<div class="container">
    <h2>Parts Lists</h2>  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Part Name</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let part of parts">
          <td>{{part.id}}</td>
          <td>{{part.partName}}</td>
          <td>{{part.price}}</td>
          <td>
            
            <button (click) = "deletePart(part.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            <button (click) = "updatePart(part.id)" class = "btn btn-warning" style="margin-left: 10px"> Update</button>
            <button (click) = "partDetails(part.id)" class = "btn btn-success" style="margin-left: 10px"> View</button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
