
<div class="card m-4">
    <h5>Angular CRUD Operation with Reactive Form Validation</h5>
    <div class="card-body">
     
            <div class="form-group">
              <label> Part Name:</label> 
                <input type="text" formControlName="partName" class="form-control" />
            </div>
            <br>
            <div class="form-group">
                <label>Price:</label>
                <input type="text" formControlName="price" class="form-control"  /> 
            </div>                 
            <div class="text-center">
                <button class="btn btn-success mr-1">Submit</button>
            </div>
    
    </div>
    <button routerLink="/" class="btn btn-primary mr-1">Back to Home</button>
  </div>
  